
.background{
  min-height: 100vh;
  background-image: url(images/generalimage.png);
  background-color: rgba(0, 0, 0, 0.35);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative
}
.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  z-index: 1;
}
.background * {
  position: relative;
  z-index: 2;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.company-logo{
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin-right: 20px;
}
.company-name{
  font-size: 44px;
  font-weight: bold;
  color: yellow;
  font-style: italic;

}
.header{
  font-size: 40px;
  text-align: center;
  color: yellow;
  margin-top: 40px;
  margin-bottom: 75px;
}
.choose-event{
  font-family: arial;
  display:flex;
  align-items: center;
  margin-bottom: 60px;
  font-size: 35px; 
  color: blue;  
}
.choose-event label{
  margin-right: 15px;

}
.choose-event select {
  background-color: yellow;
  color: black;
  padding: 5px 10px;  
  border-radius: 5px;                               
  border: none;                                         
  font-size: 20px;
}
.ticket-numbers{
  font-family: arial;
  font-size: 35px; 
  margin-right: 15px;
  color: blue;
 
}
.input-number{
  background-color: yellow;
  color: black;
  font-size: 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  width: 60px;
}

.book-button{
  background-color: blue;
  font-weight: bold;
  color: white;
  font-size: 30px;
  padding: 30px 50px;
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;

}
.button-container{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 75px;

}
.booking-result h3,
.summary h3{
  margin-bottom: 10px;
}
