.concert-booking{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: arial;
  background-color: rgba(255, 255, 255, 0.35);

}
.header{
  color: red;
}
.concertimage-container{
  width: 100%;
  padding: 0;
  height: auto;
}
.concert-image{
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: block; 
}
.instructions,
.payment-method{
  color: red;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.input-number{
  background-color: blue;
  color: whitesmoke;
  font-size: 18px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
}
.booking-results{
  font-size: 24px;
}
.mpesa-logo{
  width: 150px;
  margin-right: 50px;
}
.paypal-logo{
  width: 150px;
  margin-right: 50px;
}
.equity-logo{
  width: 150px;
}
.payment-section{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.mpesa-payment,
.equity-payment,
.paypal-payment{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mpesa-instructions,
.paypal-instructions,
.equity-instructions{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proceed-button{
  background-color: blue;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  padding: 10px 10px;
  margin-top: 10px;
  cursor: pointer;
}
.confirm-button{
  background-color: blue;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  padding: 10px 10px;
  margin-left: 20px;
  cursor: pointer;
}