.conference-booking{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: arial;
  background-color: rgba(255, 255, 255, 0.35);

}
.header{
  color: orangered;
}
.conferenceimage-container{
  width: 100%;
  padding: 0;
  height: auto;
}
.conference-image{
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: block; 
}
.instructions,
.payment-method{
  color: orangered;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
.booking-form{
  font-size: 24px;
  margin-top: 30px;
}
.input-number{
  background-color: orangered;
  color: black;
  text-align: center;
  font-size: 18px;
  padding: 5px 10px;
}
.tickets-button{
  background-color: blue;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  padding: 10px 10px;
  margin-left: 20px;
}
.booking-results{
  font-size: 24px;
}
.image-logos{
  text-align: center;
  margin-top: 20px;
}
.mpesa-logo{
  width: 150px;
  margin-right: 50px;
}
.paypal-logo{
  width: 150px;
  margin-right: 50px;
}
.equity-logo{
  width: 150px;
}